<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, placeholder: '1 shot' %>
  <h5>OF</h5>
  <%= f.input :ingredient, collection: @ingredients, input_html: { class: 'select2' } %>
  
  <%= f.submit class: "btn btn-primary"%>
<% end %>

<%= link_to "/cocktails/#{@cocktail.id}" do %>
  <p><i class="fas fa-cocktail"></i> Back To Cocktail</p>
<% end %>